* {
    Font-family: Helvetica, Arial, sans-serif;
    background-color: #FEF0CD;
    font-weight: 500;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 56px;
    color: #901010;
    font-weight: 100;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
}

.recipe {
    background-color: rgba(255,250,255,50%);
    padding: 16px;
    margin: 32px;
    border-radius: 10px;
}

a {
    font-size: 18px;
    background-color: rgba(255,250,255,0%);
    color: red;
    text-decoration: none;
    display: block;
    padding: 12px 4px;
    margin: 0 auto;
    text-align: center;
}

img {
    height: 200px;
    display: block;
    border-radius: 12px;
    margin: 12px auto;
}

button {
    background-color: red;
    color: white;
    border-radius: 100px;
    padding: 8px 16px;
    margin: 12px;
}